.box {
  color: white;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 8px;
}

.box ul {
  list-style-type: none;
}

.column {
  height: 100%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

.open {
  border-color: #ccc;
  background-color: #eee;
}

.inProgress {
  border-color: #999;
  background-color: #bbb;
}

.done {
  border-color: #666;
  background-color: #888;
}
/* Tablet (2 columns) */
@media (max-width: 1024px) {
  .box:nth-child(3) {
    grid-column: span 2;
  }
}

/* Mobile (1 column) */
@media (max-width: 768px) {
  .box:nth-child(3) {
    grid-column: span 1;
  }
  .box {
    grid-column: span 1 !important;
  }
}
