.ticket {
  color: #456789;
  max-width: 100%;
  padding: 0.2em 0.5em;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 3px solid #000;
}

.heading {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.low {
  border-color: #f5ea88;
  background-color: #f8f2bf;
}

.medium {
  border-color: #fba77a;
  background-color: #f8c1a4;
}

.high {
  border-color: #f6873e;
  background-color: #f4a570;
}

.critical {
  border-color: #f66674;
  background-color: #f98f9a;
}

.selected {
  color: #6c9bc9;
  background-color: #fff;
  /* filter: drop-shadow(5px 5px 2px #9999995f); */
}

/** Selected Ticket Styles */

.selectedTicket {
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 0.2em;
}
